<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.paulrudy.alfred.goodlinks-actions</string>
	<key>connections</key>
	<dict>
		<key>03942B0E-4DDB-4F54-8457-F356E16E6B6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E4A8334-77B9-41E7-ABDB-66F376B7670F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19C53075-1A22-408E-86B4-6874A86C5CE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98558F64-97C9-4CF7-B794-1887A7473955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E4A8334-77B9-41E7-ABDB-66F376B7670F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC6054FE-8E34-4011-83BB-ADC709C2E6BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E406E16-0E7A-424A-ACA4-C9D96BDDCFE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCB41190-0F40-4DF9-AC51-B898A6C3CC04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>3029B1A7-9DEA-4B3E-9BE4-B3DF29BA3EC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98558F64-97C9-4CF7-B794-1887A7473955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30A3035F-C6B4-4687-ABD2-F20416409059</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04157880-E339-4325-82CA-470695738AF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6BBEC69C-394D-4A95-90BA-3696E6EB5397</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3889EA56-AABB-4255-90C0-32D69A0498E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98558F64-97C9-4CF7-B794-1887A7473955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>37CBFD10-464B-43E4-8A6E-68B7EA3C925D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>55AF2BA1-418F-4F2A-B6E3-B50A732509D3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BC100C7-38EC-42A8-BECC-F0F966BA93B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCCEED88-B8A5-4914-B6D8-7127BBA8F4D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>03942B0E-4DDB-4F54-8457-F356E16E6B6A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Edit the link in GoodLinks after adding</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65F6AB4C-4FF7-48FA-BC6E-4A1F7D6A5A2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFF63460-6623-47E6-A2CF-AE601F496A45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>672DF7DD-E954-44D0-A08B-4C523B013112</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03942B0E-4DDB-4F54-8457-F356E16E6B6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BBEC69C-394D-4A95-90BA-3696E6EB5397</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C97A2FB6-C91C-47E7-9590-323FF6E8C7C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>77DC34DC-76EA-48F1-BD95-885E4B0AE889</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D5B04F3-1A9A-4DEC-B084-A811A3236D54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9923CBA5-08A9-4E2D-B7A5-49A4081D0A0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C0C51D1-AC23-4604-B98F-DF51E3B1A328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A906BBDB-779A-430D-80FD-EF7C2EFDB111</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98558F64-97C9-4CF7-B794-1887A7473955</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4842FD13-45BF-432C-9E73-5EEA47F57FC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8551FCAE-9469-433E-838F-EB7CCC216C1F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2EE4D5A-1261-42FF-9340-AD4B39A1A71C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9923CBA5-08A9-4E2D-B7A5-49A4081D0A0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3699160C-8E21-40FC-8D49-FE225A4F6832</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DC19EA0-AD87-4157-8F22-F5155A7DEBB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98558F64-97C9-4CF7-B794-1887A7473955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A76D8AE9-EDA1-46AC-AD8F-20126EEA1146</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>672DF7DD-E954-44D0-A08B-4C523B013112</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A906BBDB-779A-430D-80FD-EF7C2EFDB111</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03942B0E-4DDB-4F54-8457-F356E16E6B6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC6054FE-8E34-4011-83BB-ADC709C2E6BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBC5F4E5-D1E0-4E02-916C-D9CBF4806EFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCB41190-0F40-4DF9-AC51-B898A6C3CC04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3889EA56-AABB-4255-90C0-32D69A0498E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF0CAB10-4642-4E78-8FF6-E8AC1DA8D8F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03942B0E-4DDB-4F54-8457-F356E16E6B6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA41D7D7-328A-4F3B-BE37-7A6091793618</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C0C51D1-AC23-4604-B98F-DF51E3B1A328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A906BBDB-779A-430D-80FD-EF7C2EFDB111</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Edit the link in GoodLinks after adding</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFF63460-6623-47E6-A2CF-AE601F496A45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98558F64-97C9-4CF7-B794-1887A7473955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D79146E4-3E10-4C31-BB00-95124720D197</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>55AF2BA1-418F-4F2A-B6E3-B50A732509D3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCCEED88-B8A5-4914-B6D8-7127BBA8F4D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03942B0E-4DDB-4F54-8457-F356E16E6B6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>paulrudy</string>
	<key>description</key>
	<string>Add and search for links in GoodLinks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GoodLinks Actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>quick_save</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8C0C51D1-AC23-4604-B98F-DF51E3B1A328</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>A906BBDB-779A-430D-80FD-EF7C2EFDB111</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:keyword_add_frontmost_browser}</string>
				<key>subtext</key>
				<string>Quick-save without editing</string>
				<key>text</key>
				<string>Add frontmost browser tab to GoodLinks</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA41D7D7-328A-4F3B-BE37-7A6091793618</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>quick_save</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FCCEED88-B8A5-4914-B6D8-7127BBA8F4D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Add URL to Goodlinks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>5BC100C7-38EC-42A8-BECC-F0F966BA93B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>goodlinks://x-callback-url/save?url={query}&amp;quick={var:quick_save}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AC6054FE-8E34-4011-83BB-ADC709C2E6BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>flush_caches</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EBC5F4E5-D1E0-4E02-916C-D9CBF4806EFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/url-processing/url.expand</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>1E4A8334-77B9-41E7-ABDB-66F376B7670F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>03942B0E-4DDB-4F54-8457-F356E16E6B6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>add_url_quick</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A76D8AE9-EDA1-46AC-AD8F-20126EEA1146</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>quick_save</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>672DF7DD-E954-44D0-A08B-4C523B013112</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>add_url</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DF0CAB10-4642-4E78-8FF6-E8AC1DA8D8F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:keyword_flush_cache}</string>
				<key>subtext</key>
				<string>Delete cached data and reload the workflow</string>
				<key>text</key>
				<string>Flush cached GoodLinks data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7D5B04F3-1A9A-4DEC-B084-A811A3236D54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>flush_caches</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3699160C-8E21-40FC-8D49-FE225A4F6832</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>notify</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9923CBA5-08A9-4E2D-B7A5-49A4081D0A0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>flush_caches</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>30A3035F-C6B4-4687-ABD2-F20416409059</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/flush-caches.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>04157880-E339-4325-82CA-470695738AF1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:keyword_search_all_links}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:cache_status_text}</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-all-script-filter.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{var:title_text_search_all}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9DC19EA0-AD87-4157-8F22-F5155A7DEBB8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Flushing caches and reloading the workflow</string>
				<key>title</key>
				<string>GoodLinks Actions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C97A2FB6-C91C-47E7-9590-323FF6E8C7C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:keyword_search_unread_links}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:cache_status_text}</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-unread-script-filter.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{var:title_text_search_unread}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>19C53075-1A22-408E-86B4-6874A86C5CE5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4842FD13-45BF-432C-9E73-5EEA47F57FC3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>notify</string>
						<key>outputlabel</key>
						<string>notify</string>
						<key>uid</key>
						<string>77DC34DC-76EA-48F1-BD95-885E4B0AE889</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6BBEC69C-394D-4A95-90BA-3696E6EB5397</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>8551FCAE-9469-433E-838F-EB7CCC216C1F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>98558F64-97C9-4CF7-B794-1887A7473955</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:keyword_search_starred_links}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:cache_status_text}</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-starred-script-filter.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{var:title_text_search_starred}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3029B1A7-9DEA-4B3E-9BE4-B3DF29BA3EC7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>goodlinks://x-callback-url/open?&amp;url={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C2EE4D5A-1261-42FF-9340-AD4B39A1A71C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>random_unread</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D79146E4-3E10-4C31-BB00-95124720D197</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:keyword_search_random_unread}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:cache_status_text}</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-random-unread-script-filter.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{var:title_text_search_random_unread}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>random_unread</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>65F6AB4C-4FF7-48FA-BC6E-4A1F7D6A5A2E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>trigger:self_random_unread</string>
						<key>outputlabel</key>
						<string>repeat</string>
						<key>uid</key>
						<string>55AF2BA1-418F-4F2A-B6E3-B50A732509D3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EFF63460-6623-47E6-A2CF-AE601F496A45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>tag_list</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>37CBFD10-464B-43E4-8A6E-68B7EA3C925D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>1</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword_search_with_tag}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>{var:cache_status_text}</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-with-tag-script-filter.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{var:title_text_search_with_tag}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DCB41190-0F40-4DF9-AC51-B898A6C3CC04</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:keyword_search_tags}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:cache_status_text}</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/get-all-tags-script-filter.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{var:title_text_search_tags}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>tag_list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2E406E16-0E7A-424A-ACA4-C9D96BDDCFE7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>trigger:self_list_tags</string>
						<key>outputlabel</key>
						<string>list tags</string>
						<key>uid</key>
						<string>55AF2BA1-418F-4F2A-B6E3-B50A732509D3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3889EA56-AABB-4255-90C0-32D69A0498E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># GoodLinks Actions - Alfred workflow

[Alfred forum thread](https://www.alfredforum.com/topic/23148-goodlinks-actions/)

## Usage

Add and search for links in [GoodLinks](https://goodlinks.app).

### Add URL to GoodLinks

Add the URL of the frontmost browser's active tab to GoodLinks via the `glb` keyword.

![screenshot of glb keyword](./screenshots/glb-keyword.png)

Add any link to GoodLinks via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![screenshot of url add universal action](./screenshots/add-url-universal-action.png)

#### Add URL Modifier Keys
- &lt;kbd&gt;↩︎&lt;/kbd&gt; Add URL to GoodLinks
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩︎&lt;/kbd&gt; Add URL and edit info (tags, etc.) in GoodLinks

### Search GoodLinks

Search all links via the `gla` keyword.

![screenshot of gla keyword](./screenshots/gla-keyword.png)

Search unread links via the `glu` keyword.

![screenshot of glu keyword](./screenshots/glu-keyword.png)

Search for a random unread link via the `gl?` keyword, with the option to search again.

![screenshot of gl? keyword](./screenshots/gl-question-mark-keyword.png)

Search starred links via the `gls` keyword.

![screenshot of gls keyword](./screenshots/gls-keyword.png)

Search for a tag via the `glt` keyword.

![screenshot of glt keyword](./screenshots/glt-keyword.png)

To get links with a specific tag, action the result, or enter a tag name via the `glwt` keyword.

![screenshot of glwt keyword](./screenshots/glwt-keyword.png)

#### Search Modifier Keys

- &lt;kbd&gt;↩︎&lt;/kbd&gt; Open the link in GoodLinks
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩︎&lt;/kbd&gt; Copy the link to the clipboard.
- &lt;kbd&gt;⌘&lt;/kbd&gt; View the link's starred status,read/unread status, and tags, if any. (These defaults can be switched in the workflow configuration.)
- &lt;kbd&gt;⌃&lt;/kbd&gt; Show the link's URL
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;L&lt;/kbd&gt; Use Alfred's [Large Type](https://www.alfredapp.com/help/features/large-type/) feature to show a large-type view of the link's title, and if available, summary.

### Cached Workflow Data

Delete the workflow's caches via the `:glflush` keyword.

![screenshot of :glflush keyword](./screenshots/glflush-keyword.png)

Afterwards, adding a URL or invoking a search will rebuild the cache with updated data from GoodLinks.

By default, the workflow caches GoodLinks data for 3600 seconds (1 hour), using a combination of Alfred's built-in script-filter cacheing and a cache file. The caches are rebuilt any time a URL is added via this workflow, or when initiating a search on an expired cache.

## Configuration

The workflow provides configuration for default search subtext, keywords, and cache duration.</string>
	<key>uidata</key>
	<dict>
		<key>03942B0E-4DDB-4F54-8457-F356E16E6B6A</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>04157880-E339-4325-82CA-470695738AF1</key>
		<dict>
			<key>xpos</key>
			<real>1450</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>19C53075-1A22-408E-86B4-6874A86C5CE5</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>775</real>
		</dict>
		<key>1E4A8334-77B9-41E7-ABDB-66F376B7670F</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>2E406E16-0E7A-424A-ACA4-C9D96BDDCFE7</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>1180</real>
		</dict>
		<key>3029B1A7-9DEA-4B3E-9BE4-B3DF29BA3EC7</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>30A3035F-C6B4-4687-ABD2-F20416409059</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>3699160C-8E21-40FC-8D49-FE225A4F6832</key>
		<dict>
			<key>xpos</key>
			<real>1450</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>37CBFD10-464B-43E4-8A6E-68B7EA3C925D</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>1165</real>
		</dict>
		<key>3889EA56-AABB-4255-90C0-32D69A0498E5</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>1200</real>
		</dict>
		<key>4842FD13-45BF-432C-9E73-5EEA47F57FC3</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>5BC100C7-38EC-42A8-BECC-F0F966BA93B9</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>65F6AB4C-4FF7-48FA-BC6E-4A1F7D6A5A2E</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>1045</real>
		</dict>
		<key>672DF7DD-E954-44D0-A08B-4C523B013112</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>6BBEC69C-394D-4A95-90BA-3696E6EB5397</key>
		<dict>
			<key>xpos</key>
			<real>1375</real>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>7D5B04F3-1A9A-4DEC-B084-A811A3236D54</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>8C0C51D1-AC23-4604-B98F-DF51E3B1A328</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>98558F64-97C9-4CF7-B794-1887A7473955</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>865</real>
		</dict>
		<key>9923CBA5-08A9-4E2D-B7A5-49A4081D0A0E</key>
		<dict>
			<key>xpos</key>
			<real>1375</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>9DC19EA0-AD87-4157-8F22-F5155A7DEBB8</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>A76D8AE9-EDA1-46AC-AD8F-20126EEA1146</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>A906BBDB-779A-430D-80FD-EF7C2EFDB111</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>AC6054FE-8E34-4011-83BB-ADC709C2E6BE</key>
		<dict>
			<key>note</key>
			<string>save</string>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>C2EE4D5A-1261-42FF-9340-AD4B39A1A71C</key>
		<dict>
			<key>note</key>
			<string>open</string>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>915</real>
		</dict>
		<key>C97A2FB6-C91C-47E7-9590-323FF6E8C7C4</key>
		<dict>
			<key>xpos</key>
			<real>1450</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>D79146E4-3E10-4C31-BB00-95124720D197</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>DCB41190-0F40-4DF9-AC51-B898A6C3CC04</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>1180</real>
		</dict>
		<key>DF0CAB10-4642-4E78-8FF6-E8AC1DA8D8F4</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>EA41D7D7-328A-4F3B-BE37-7A6091793618</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>EBC5F4E5-D1E0-4E02-916C-D9CBF4806EFC</key>
		<dict>
			<key>xpos</key>
			<real>1060</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>EFF63460-6623-47E6-A2CF-AE601F496A45</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>1065</real>
		</dict>
		<key>FCCEED88-B8A5-4914-B6D8-7127BBA8F4D5</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>show summary</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Summary, ⌘ shows info</string>
						<string>show summary</string>
					</array>
					<array>
						<string>Info, ⌘ shows summary</string>
						<string>show info</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>The subtext for each GoodLinks search result can show either 1) the summary (if available) of the link or 2) its GoodLinks info (starred, read, tags). Holding ⌘ will show the other option.</string>
			<key>label</key>
			<string>Search subtext shows</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>default_search_subtitle</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>glb</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to add frontmost browser tab</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_add_frontmost_browser</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gla</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to search all links</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_search_all_links</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>glu</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to search unread links</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_search_unread_links</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gl?</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to search for a random unread link</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_search_random_unread</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gls</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to search starred links</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_search_starred_links</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>glt</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to search tags</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_search_tags</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>glwt</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to search with tag</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_search_with_tag</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>:glflush</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to flush workflow caches</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_flush_cache</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>3600</integer>
				<key>markercount</key>
				<integer>5</integer>
				<key>maxvalue</key>
				<integer>10000</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<false/>
				<key>showmarkers</key>
				<false/>
			</dict>
			<key>description</key>
			<string>The number of seconds that Alfred will retain a cache of GoodLinks search results</string>
			<key>label</key>
			<string>Cache duration</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>cache_duration</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>cache_status</key>
		<string>done</string>
		<key>cache_status_text</key>
		<string>Building cache. This may take a few seconds…</string>
		<key>subtext_search_default</key>
		<string>Querying cached GoodLinks…</string>
		<key>title_text_search_all</key>
		<string>Search all links in GoodLinks</string>
		<key>title_text_search_random_unread</key>
		<string>Search for a random unread link in GoodLinks</string>
		<key>title_text_search_starred</key>
		<string>Search starred links in GoodLinks</string>
		<key>title_text_search_tags</key>
		<string>Search for GoodLinks tags</string>
		<key>title_text_search_unread</key>
		<string>Search unread links in GoodLinks</string>
		<key>title_text_search_with_tag</key>
		<string>Search links in GoodLinks tagged with {query}</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>cache_status</string>
		<string>cache_status_text</string>
	</array>
	<key>version</key>
	<string>2.13.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
